/* CSS perso */
body {
    background-color: red;
}

/* HEADER */
.v-toolbar__title {
    font-family: "Karma", sans-serif;
    font-size: 24px !important;
    max-width: 1200px;
    margin: auto;
}

.btn-panier {
    margin-right: 20px;
}


/* MAIN */
main {
    margin-top: 56px; /* space for header */
}

.container {
    max-width: 1140px !important;
}

a {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87) !important;
    text-decoration:none;
}
a:hover {
    color: #FF9800 !important;
}
a:active {
    color: #FFB74D!important;
}

.v-card__subtitle, .v-card__text {
    font-size: initial !important;
}

/* FOOTER */
.theme--light.v-footer {
    background-color: #ffffff !important;
}